name: build
on:
  push:
    paths-ignore:
      - 'README.md'
    tags:
      - '**'

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: get version
        id: get_version
        uses: dhkatz/get-version-action@v3.0.0

      - name: set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: print available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUBUNAME }}
          password: ${{ secrets.DOCKERHUBTOKEN }}

      - name: build mergerfs docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            hvalev/mergerfs:${{ steps.get_version.outputs.version }}
            hvalev/mergerfs:latest
          target: mergerfs-release
          context: .
          platforms: |
            linux/amd64,
            linux/arm64,
            linux/ppc64le,
            linux/s390x,
            linux/riscv64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: build mergerfs-tools docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            hvalev/mergerfs:tools-${{ steps.get_version.outputs.version }}
            hvalev/mergerfs:tools-latest
          target: mergerfs-tools-release
          context: .
          platforms: |
            linux/amd64,
            linux/arm64,
            linux/ppc64le,
            linux/s390x,
            linux/riscv64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: update docker hub description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKERHUBUNAME }}
          password: ${{ secrets.DOCKERHUBPWD }}
          repository: hvalev/mergerfs